* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {}

ul li {
    list-style: none;
}

a {
    color: #0984e3;
}

.loading {
    background: #1a1c20;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    transition: all 0.4s;
    flex-flow: column;
}

.loading .load {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: block;
    border: 5px solid #fff;
    border-top: 5px solid #ffc93c;
    animation: load 0.5s linear infinite;
}

.loading p {
    font-weight: 500;
    font-size: 1.875rem;
    margin-top: 2.5rem;
    color: #fff;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#site-header {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-origin: center center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #site-header .snav  */

.snav {
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: 0.3s ease-in;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snav .navigation {
    position: absolute;
    bottom: 0;
    width: 660px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px 20px 0 0;
    padding: 1.25rem 2.5rem;
}

.snav .navigation ul {
    display: flex;
    justify-content: space-between;
}

.snav .navigation ul li a {
    transition: 0.3s ease-in;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    padding: 0.625rem;
    font-size: 1.25rem;
    display: block;
}

.snav .navigation ul li a:hover {
    transform: scale(1.5);
    color: #0984e3;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.snav .navigation.scroll {
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.snav .navigation.scroll a {
    color: #636e72;
}


/* /#site-header .snav */

.icon-bar {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    position: fixed;
    top: 0.625rem;
    left: 0.625rem;
    height: 64px;
    width: 64px;
    display: none;
    z-index: 999999;
}

.icon-bar span {
    display: block;
    height: 5px;
    width: 48px;
    background: #fff;
    margin: 0.625rem 0.5rem;
    border-radius: 10px;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.icon-bar.active span:nth-child(1) {
    position: absolute;
    top: 1.1875rem;
    transform: rotate(45deg) scale(0.8);
}

.icon-bar.active span:nth-child(2) {
    position: absolute;
    top: 1.25rem;
    transform: rotate(0deg) scale(0.8);
    opacity: 0;
}

.icon-bar.active span:nth-child(3) {
    position: absolute;
    bottom: 20px;
    transform: scale(0.8) rotate(-45deg);
}


/* #site-header .shead */

.shead {}

.shead h2 {
    font-size: 6.25rem;
    color: #fff;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 6.25rem;
}

.shead .head-introduction {
    display: flex;
    align-items: center;
    gap: 50px;
}

.head-introduction .intro-line-height {
    height: 200px;
    width: 10px;
    background: #f1c40f;
}

.head-introduction .intro-content p {
    letter-spacing: 5px;
    font-size: 3.125rem;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}


/* /#site-header .shead */

.lineHeight {
    animation: lineHeight 1s ease-in;
}

@keyframes lineHeight {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* #about */

#about {
    display: grid;
    grid-template-columns: auto auto;
    padding: 6.25rem 15.625rem;
    grid-column-gap: 150px;
    justify-content: center;
    max-height: 1000px;
    max-width: 1920px;
}

#about .about-avatar {
    transition: 0.3s linear;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
}

#about .about-avatar img {
    width: 480px;
    height: 480px;
    display: block;
    transition: 0.3s linear;
}

#about .about-avatar:hover img {
    transform: scale(1.2);
}

#about .about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
}

#about .about-content>p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #636e72;
}

#about .skills {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 20px;
}

#about .skills .skill-bar {
    width: calc(50% - 20px);
}

#about .skills .skill-bar p {
    margin: 1.1875rem 0px;
    text-transform: uppercase;
}

#about .skills .skill-bar .skill {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    height: 10px;
    box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.3), inset -2px -2px 2px rgba(255, 255, 255, 0.3);
}

#about .skills .skill-bar .skill .skill-after {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 40px;
    height: 32px;
    position: absolute;
    display: block;
    top: -2.625rem;
    color: #fff;
    text-align: center;
    line-height: 32px;
    transform: translateX(-50%);
    left: 0%;
    transition-timing-function: ease-out;
}

#about .skills .skill-bar .skill .skill-after:after {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    width: 10px;
    height: 10px;
    display: block;
    transform-origin: center;
    transform: rotate(45deg) translate(-50%);
    position: absolute;
    left: 50%;
    bottom: -0.5rem;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

#about .skills .skill-bar .skill .skill-before {
    width: 0%;
    background: #3fc5f0;
    border-radius: 20px;
    height: 10px;
    position: absolute;
    display: block;
    transition-timing-function: ease-out;
}


/* /#about */

#services {
    background: #1b262c;
    position: relative;
    //height: 600px;
}

#services .title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    background: #fff;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    line-height: 150px;
    text-align: center;
}

#services .title h3 {
    font-size: 1.875rem;
    text-transform: uppercase;
}

#services .container {
    height: 100%;
    background: transparent;
    color: #fff;
    display: flex;
    width: 100%;
    gap: 150px;
    flex-flow: wrap;
    justify-content: space-between;
}

#services .container>* {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 150px);
    padding: 6.25rem 0;
}

#services .container .item {
    width: 400px;
    height: 450px;
    border-radius: 20px;
    padding: 1.25rem;
    transition: 0.3s ease-in-out;
}

#services .container .item:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
    transform: translateY(-10px);
}

.web-builder .item {
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.design .item {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.item .content h3 {
    text-align: center;
    margin: 1.25rem;
    font-size: 1.25rem;
}

.item .content ul li {
    list-style-type: circle;
    margin: 0 0.625rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
}

@media screen and (max-width: 680px) {
    .shead h2 {
        font-size: 3.125rem;
        margin-bottom: 3.125rem;
    }
    .shead .head-introduction {
        gap: 1.25rem;
    }
    .head-introduction .intro-line-height {
        height: 100px;
        width: 5px;
    }
    @keyframes lineHeight {
        0% {
            opacity: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            height: 100px;
        }
    }
    .head-introduction .intro-content p {
        letter-spacing: 5px;
        font-size: 1.5625rem;
    }
    .icon-bar {
        display: block;
    }
    .snav {
        height: 100vh;
        bottom: unset;
        left: -100%;
        //display: none;
    }
    .snav.active {
        display: flex;
        left: 0%;
    }
    .snav .navigation {
        bottom: unset;
        position: unset;
        height: 100vh;
        border-radius: unset;
        background: #1e272e !important;
    }
    .snav .navigation ul {
        height: 100%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }
    .snav .navigation ul li a {
        font-size: 2.5rem;
        color: #fff !important;
    }
    #about {
        padding: unset;
        padding: 2.5rem 1.25rem;
        margin-bottom: 9.375rem;
        gap: 1.25rem;
        grid-template-columns: auto;
    }
    #about .about-avatar {
        grid-row-end: 1;
        margin: auto;
    }
    #about .about-avatar img {
        width: 240px;
        height: 240px;
    }
    #about .about-content h2 {
        text-align: center;
    }
    #about .skills .skill-bar {
        width: 100%;
    }
    #services .title {
        width: 200px;
        height: 100px;
    }
    #services .title h3 {
        line-height: 3.125rem;
        font-size: 1.5625rem;
    }
    #services .container {
        padding-top: 7.8125rem;
        gap: 3.125rem;
    }
    #services .container>* {
        width: 100%;
        padding: 1.5625rem 0;
    }
    #services .container .item {
        width: 350px;
        height: 400px;
    }
}

@media screen and (min-width: 680px) and (max-width: 1500px) {
    #about {
        padding: unset;
        padding: 2.5rem 1.25rem;
        margin-bottom: 3.125rem;
        grid-column-gap: 9.375rem;
        grid-template-columns: auto;
    }
    #about .about-avatar {
        grid-row-end: 1;
        margin: auto;
    }
    #about .about-content h2 {
        text-align: center;
        margin-top: 1.25rem;
    }
}

@media screen and (min-width: 680px) and (max-width: 950px) {
    #services .title {
        width: 200px;
        height: 100px;
    }
    #services .title h3 {
        line-height: 50px;
        font-size: 1.5625rem;
    }
    #services .container {
        padding-top: 7.8125rem;
        gap: 3.125rem;
    }
    #services .container>* {
        width: 100%;
        padding: 1.5625rem 0;
    }
    #services .container .item {
        width: 500px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1500px) {
    #services .container .item {
        width: 350px;
        height: 400px;
    }
}